@model WebApp.ViewModels.MortgageCalculatorViewModel

<fieldset>
    <legend>Enter your mortgage values</legend>
    <div class="control-group">
        @Html.LabelFor(m => m.MortgageName, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.MortgageName, new { @autocomplete = "off", @style = "width:100px;" })
            @Html.ValidationMessageFor(m => m.MortgageName)
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.LoanAmount, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.LoanAmount, new { @autocomplete = "off", @style = "width:100px;" })
            @Html.ValidationMessageFor(m => m.LoanAmount)
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.AnnualInterestRate, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.AnnualInterestRate, new { @autocomplete = "off", @style = "width:50px;" })
            @Html.ValidationMessageFor(m => m.AnnualInterestRate)
        </div>
    </div>
        <div class="control-group">
        @Html.LabelFor(m => m.OrgLoanTerm, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.OrgLoanTerm, new { @autocomplete = "off", @style = "width:50px;" })
            @Html.ValidationMessageFor(m => m.OrgLoanTerm)
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.TargetLoanTerm, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.TargetLoanTerm, new { @autocomplete = "off", @style = "width:50px;" })
            @Html.ValidationMessageFor(m => m.TargetLoanTerm)
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.DownPayment, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.DownPayment, new { @autocomplete = "off", @style = "width:50px;" })
            @Html.ValidationMessageFor(m => m.DownPayment)
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.ExtraMonthlyPayment, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.ExtraMonthlyPayment, new { @autocomplete = "off", @style = "width:50px;" })
            @Html.ValidationMessageFor(m => m.ExtraMonthlyPayment)
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" name="action" id="savemortgage" value="savemortgage" class="btn btn-primary"><i class="icon-search icon-white"></i> Save Mortgage</button>
        </div>
    </div>
</fieldset>