@{
    ViewBag.Title = "Assignment Main Page";
}

<h1>Assignment Work</h1>
<h5>@Html.ActionLink("Assignment 1 - Academic Honesty Policy", "Assignment1", "Assignments")</h5>
<h5>@Html.ActionLink("Assignment 2 - 2nd Grade Math Game", "Assignment2", "Assignments")</h5>
<h5>@Html.ActionLink("Assignment 3 - Airport Weather", "Assignment3", "Assignments")</h5>
<h5>@Html.ActionLink("Assignment 4 - Course Listing v2.0", "Assignment4", "Assignments")</h5>
<h5>@Html.ActionLink("Assignment 5 - Course Listing v3.0", "Assignment5", "Assignments")</h5>
